$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// override variable with info-color
$input-border-focus: #3498DB;

@import "bootswatch-scss/flatly/_variables.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bootswatch-scss/flatly/_bootswatch.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

[scroll-glue] {
  overflow-y: scroll;
}

.messages-panel {
  height: 300px;
  padding: 5px;
}

.list-message {
  padding: 5px;
}

.list-group-message {
  margin-bottom: 5px;
}

.borderless .list-group-item {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

blockquote {
  font-size: 15px;
  margin: 0 0 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-right-color: #78a5c2;
}

.timestamp {
  color: #b4bcc2;
  font-size: 80%;
}

.message-panel {
  margin-bottom: 5px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

.message-p {
  margin: 0 0 0px;
  word-wrap: break-word;
}

.chat-panel {
  margin-bottom: 10px;
}

.chat-div {
  max-width: 350px;
}

.message-box  {
  resize:none;
}

// content editable fix
[contenteditable] {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
