<div class="panel panel-info chat-panel">
    <div class="panel-heading" ng-model="client" contenteditable="true" no-line-breaks="true">{{client}}</div>
    <div class="panel-body messages-panel" scroll-glue>
        <ul class="list-group list-group-message borderless">
            <li class="list-group-item list-message" ng-repeat="m in messages">
                <div class="panel panel-default message-panel">
                    <div class="panel-body message-panel">
                        <blockquote ng-class="{'blockquote-reverse': client === m.messageFrom}">
                            <p class="message-p">{{m.messageText}}</p>
                        </blockquote>
                                    <span ng-class="{timestamp: true, 'pull-right': client === m.messageFrom}">
                                        <span am-time-ago="m.messageTimestamp"></span>&nbsp;by&nbsp;{{client === m.messageFrom ? 'you' : m.messageFrom}}
                                    </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="input-group">
    <textarea type="text" class="message-box form-control" rows="1" ng-model="message" ng-enter="sendMessage()"
              placeholder="Send a message...">
    </textarea>
                <span class="input-group-addon btn btn-info" ng-click="sendMessage()">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                </span>
</div>
